@{
    ViewData["Title"] = "Home Page";
}


<br />


<div class="col-lg-12">
    <a href="/Home/ReadBarCode">Прочитать штрих-код.</a>
</div>

@if (!string.IsNullOrEmpty(ViewBag.Text))
{
    <div class="col-lg-12">
        Штрих-код в виде текста -> @ViewBag.Text 
    </div>
}
